:root {
  --font-stack-mono: ui-monospace, 'SF Mono', SFMono-Regular, Menlo, "Cascadia Mono", Consolas, monospace;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, sans-serif;
}

select {
  border: none;
  border-radius: 6px;
  padding: 0 28px 0 6px;
  height: 32px;
  margin: 15px 15px 0 0;

  font-family: system-ui;
  font-weight: 600;
  font-size: 10pt;

  appearance: none;
  background: #fff;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIHZpZXdCb3g9IjAgMCA0OCA0OCI+CjxwYXRoIGZpbGw9IiMyMTk2RjMiIGQ9Ik00MyAxNy4xTDM5LjkgMTQgMjQgMjkuOSA4LjEgMTQgNSAxNy4xIDI0IDM2eiI+PC9wYXRoPgo8L3N2Zz4=);
  background-repeat: no-repeat;
  background-position: right 6px center;
  background-size: 16px;
}

button {
  border: none;
  border-radius: 6px;
  background: #fff;

  font-family: system-ui;
  font-weight: 600;
  font-size: 10pt;

  display: flex;
  place-items: center;
  height: 32px;
  margin: 15px 15px 0 0;
  padding: 0px 12px;
  user-select: none;
  cursor: pointer;
}

button:hover {
  background: #f5f5f5;
}

button:active {
  background: #e5e5e5;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button[hidden] {
  display: none;
}

body {
  display: grid;
  grid-template-rows: 61px 1fr;
  height: 100vh;
  background: #fafafa;
}

header {
  grid-row: 1;

  display: flex;
  box-sizing: border-box;
  padding: 0 0 0 15px;
  align-items: center;

  background: #eee;
  border-bottom: 1px solid #ddd;
}

main {
  grid-row: 2;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
